dist: trusty
language: cpp
sudo: true
notifications:
  email:
    recipients:
      - arobenko@gmail.com
    on_success: change
    on_failure: always
    
    
matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5    
      env: _CC=gcc-5 _CXX=g++-5 
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6    
      env: _CC=gcc-6 _CXX=g++-6 
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7    
      env: _CC=gcc-7 _CXX=g++-7 
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
          packages:
            - clang-3.8  
      env: _CC=clang-3.8 _CXX=clang++-3.8 
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-3.9
          packages:
            - clang-3.9    
      env: _CC=clang-3.9 _CXX=clang++-3.9 
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0    
      env: _CC=clang-4.0 _CXX=clang++-4.0 
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0    
      env: _CC=clang-5.0 _CXX=clang++-5.0 
      
before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt562-trusty -y
  - sudo add-apt-repository ppa:george-edison55/cmake-3.x -y
  - sudo apt-get update -q
  - sudo apt-get install libc++-dev cmake cmake-data qt56base qt56serialport libboost-program-options-dev libboost-filesystem-dev libboost-system-dev -y      

before_script:
  - source /opt/qt56/bin/qt56-env.sh

script:
  - echo "------------------ Debug build ------------------"
  - mkdir build.debug
  - cd build.debug
  - CC=${_CC} CXX=${_CXX} cmake .. 
  - VERBOSE=1 make 
  - ctest
  - cd ..
  - echo "------------------ Release build ------------------"  
  - mkdir build.release
  - cd build.release
  - CC=${_CC} CXX=${_CXX} cmake .. -DCMAKE_BUILD_TYPE=Release
  - VERBOSE=1 make 
  - ctest
  - cd ..  
  - echo "------------------ MinSize Release build ------------------"  
  - mkdir build.min_size
  - cd build.min_size
  - CC=${_CC} CXX=${_CXX} cmake .. -DCMAKE_BUILD_TYPE=MinSizeRel
  - VERBOSE=1 make 
  - ctest
  - cd ..    

